////
/// Typography
////

html {
  font-size: 16px;
}

body {
  color: $tan;
  background-color: white;
  font-family: $cantarell;
  font-weight: 400;
  line-height: 1.45;
  font-size: 2.6rem;
  //animation: 20s colorChange infinite;
  //animation-timing-function: ease;
}

p {
  margin-bottom: 1.3rem;
  font-size: 3.1rem;
  span {
    font-size: 115%;
    text-transform: none;
    font-family: $fjalla;
    text-shadow: 1px 1px 0 $green-vogue, 2px 2px 0 $allports, 3px 3px 0 $tan-orange, 4px 4px 0 $sorbus;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $fjalla;
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414rem 0 0.5rem;
}

h1 {
  font-size: 5.441rem;
  margin-top: 0;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

small,
.font_small {
  font-size: 0.8rem;
}

@media screen and (min-width: 65em) {
  h1 {
    font-size: 2.441rem;
  }

  p {
    font-size: 1rem;
  }
}